 <!-- footer of home page -->
 <footer class="footer mt-4 bg-dark text-light ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h5 style="text-align: center;">About Us</h5>
          <p>Welcome to Fashion Grow, your one-stop destination for the latest trends and styles in fashion for men, women, and kids. Founded in 2024, we are passionate about providing our customers with a diverse range of high-quality clothing and accessories to express their individuality and elevate their style.</p>
        </div>
        <div class="col-md-3">
          <h5 style="text-align: center;">Contact Us</h5>
          <p style="text-align: center;">Email: rm8619700@gmail.com<br>Phone: +91 6283426683</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 Fashion Grow [E-com project]</p>
        </div>
      </div>
    </div>
  </footer>